djangorestframework==3.11.0
django==3.2.18
asgiref==3.3.2
pip==23.0
setuptools==60.2.0
sqlparse==0.4.3
tzdata==2022.6
wheel==0.37.1
psycopg2==2.9.5
rfc3987
requests
django-cors-headers==3.14.0
requests==2.25.1
django-bootstrap3==22.2
django-braces==1.15.0
django-ckeditor==6.5.1
django-js-asset==2.0.0
misaka==2.1.1
Pillow==9.3.0
psycopg2-binary==2.9.5
pycparser==2.21
python-dotenv==0.21.0
urllib3==1.26.13
django-environ==0.7.0
django-model-utils~=4.3.1
environ==1.0.0
django-taggit==1.4.0
