:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --navbar-bg: rgb(210, 123, 0);
  --card-bg: #ffffff;
  --card-border: #dee2e6;
}

body.dark-mode {
  --bg-color: #121212;
  --text-color: #ffffff;
  --navbar-bg: #333333;
  --card-bg: #1e1e1e;
  --card-border: #555555;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.navbar {
  background-color: var(--navbar-bg) !important;
}

.themed-container,
.card {
  background-color: var(--card-bg) !important;
  color: var(--text-color) !important;
  border-color: var(--card-border) !important;
}

.list-group-item,
.modal-content {
  background-color: var(--card-bg) !important;
  color: var(--text-color) !important;
  border-color: var(--card-border) !important;
}
